:root {
    --background: #000;
    --clockText: #ff0;
    --clockColon: #fff;
    --btnBackground: #444;
    --btnColor: #fff;
}

@media (prefers-color-scheme: light) {
    --background: #fff;
    --clockText: #000;
    --clockColon: #444;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: var(--background);
    height: 100%;
    display: grid;
    place-items: center;
}

.time {
    color: var(--clockColon);
    font-size: 5em;
    font-family: sans-serif;
    align-self: end;
}

.controls {
    align-self: start;
}

.minutes, .seconds {
    color: var(--clockText);
}

.btn {
    padding: 0.5em 1em;
    font-size: 2em;
    border: solid 0px #000;
    background-color: var(--btnBackground);
    color: var(--btnColor);
    border-radius: 6px;
    margin: 10px;
}

.main.stopped #stop {
    display: none;
}

.main.running #start,
.main.running #reset {
    display: none;
}
